@model LeagueHUB_backend.Models.Team

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GamesPlayed" class="control-label"></label>
                <input asp-for="GamesPlayed" class="form-control" />
                <span asp-validation-for="GamesPlayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wins" class="control-label"></label>
                <input asp-for="Wins" class="form-control" />
                <span asp-validation-for="Wins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Draws" class="control-label"></label>
                <input asp-for="Draws" class="form-control" />
                <span asp-validation-for="Draws" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Losses" class="control-label"></label>
                <input asp-for="Losses" class="form-control" />
                <span asp-validation-for="Losses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsScored" class="control-label"></label>
                <input asp-for="GoalsScored" class="form-control" />
                <span asp-validation-for="GoalsScored" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsConceded" class="control-label"></label>
                <input asp-for="GoalsConceded" class="form-control" />
                <span asp-validation-for="GoalsConceded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
